<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta charset="utf-8" />
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>dataReserva</th>
            <th>idClient</th>
            <th>nomActivitat</th>
            <th>estatPagament</th>

        </tr>
        <tr th:each="reserva : ${reserves}">
            <td th:text="${reserva.idReserva}">ID</td>
            <td th:text="${reserva.dataReserva}">dataReserva</td>
            <td th:text="${reserva.idClient}">idClient</td>
            <td th:text="${reserva.nomActivitat}">nomActivitat</td>
            <td th:text="${reserva.estatPagament}">estatPagament</td>

            <td><a th:href="@{/activitat/list/{idReserva}(idReserva=${reserva.idReserva})}">Visualitza</a>
            <td><a th:href="@{/activitat/update/{idReserva}(idReserva=${reserva.idReserva})}">Edita</a>
            <td><a th:href="@{/activitat/delete/{idReserva} (idReserva=${reserva.idReserva})}">Borra</a></td>
        </tr>
    </table>
    <td><a th:href="@{/reserva/add/}">Afegeix</a>
</body>
</html>