<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta charset="utf-8" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type = "text/javascript"
            src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<header th:replace="fragments/navBar :: navBar"></header>


<div class="row" style="text-align: center">
    <h2>Llistat de reserves</h2>

</div>
<section>
    <ul class="collection">
        <li class="collection-item avatar valign-wrapper" th:each="reserva : ${reserves}">
            <img src="https://img.icons8.com/color/420/person-male.png" alt="" class="circle">
            <span class="title" th:text="${reserva.idClient + ' (' + reserva.dataActivitat + ')'}">idClient(dataActivitat)</span>
            <div class="secondary-content">
                <a   th:href="@{/reserva/list2/{idReserva} (idReserva=${reserva.idReserva})}" class="btn blue"><i class="material-icons">info</i></a>

                <a th:if="${reserva.estatPagament.equals('pendent')}"
                   th:href="@{/reserva/accept/{idReserva} (idReserva=${reserva.idReserva})}"
                   class="btn green"><i class="material-icons">done</i></a>



            </div>
        </li>
    </ul>
</section>
<a class="btn-floating btn-large waves-effect waves-light red " href="javascript:history.back()"><i class="material-icons">keyboard_backspace</i></a>





</body>
</html>