<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tipus activitat</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type = "text/javascript"
            src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</head>
<body>
<header th:replace="fragments/navBar :: navBar"></header>
<div class="row" style="text-align: center">

<h2>Afegir un nou tipus d'Activitat</h2>
</div>
<div class="row"  style="margin-top: 5%">
    <form class="col s6 offset-s3" th:action="@{/tipusActivitat/add}"
          th:object="${tipusActivitat}" method="post">
        <div class="row">
            <div class="input-field col s5">
                <input id="nomTipusActivitat" type="text"    class="validate" th:field="*{nomTipusActivitat}" required>
                <label for="nomTipusActivitat">Tipus de l'Activitat</label>
            </div>


            <div class="input-field col s5">
                <select id="nivell" th:field="*{nivell}">

                    <option th:each="niv : ${nivells}"
                            th:value="${niv.nivellId}"
                            th:utext="${niv.descripcio}"/>
                </select>

                <label for="nivell" >Nivell</label>

            </div>
        </div>
        <div class="row">



                <button class="btn waves-effect waves-light right" type="submit" name="action">Afegir tipus
                    <i class="material-icons right">send</i>
                </button>
            <a class="btn  waves-effect waves-light red right" href="/tipusActivitat/list"><i class="material-icons">keyboard_backspace</i></a>


        </div>
    </form>

</div>

</body>
</html>