<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tipus Activitat</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type = "text/javascript"
            src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>
</head>
<body >
<header th:replace="fragments/navBar :: navBar"></header>
<div class="row" style="text-align: center">
    <h2>Llistat dels tipus d'Activitat disponibles</h2>

</div>
<div>

    <section>
        <ul class="collection">
            <li class="collection-item avatar valign-wrapper" th:each="tipusActivitat : ${tipusActivitats}">
                <span class="title" th:text="${tipusActivitat.nomTipusActivitat + ' (' + tipusActivitat.nivell + ')'}">tipusActivitat (nivell)</span>
                <div class="secondary-content">
                    <a th:href="@{/tipusActivitat/update/{nomTipusActivitat}(nomTipusActivitat=${tipusActivitat.nomTipusActivitat})}" class="btn teal"><i
                            class="material-icons">create</i></a>
                    <a th:href="@{/tipusActivitat/delete/{nomTipusActivitat}(nomTipusActivitat=${tipusActivitat.nomTipusActivitat})}" class="btn red"><i
                            class="material-icons">delete</i></a>




                </div>
            </li>
        </ul>
    </section>

        <a class="btn-floating btn-large waves-effect waves-light " th:href="@{/tipusActivitat/add/}"><i class="material-icons">add</i></a>
    <a class="btn-floating btn-large waves-effect waves-light red " href="/home"><i class="material-icons">keyboard_backspace</i></a>
<div>
</body>
</html>