<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .button {
            border-radius: 2px;
        }

        .button a {
            padding: 8px 12px;
            border: 1px solid #ED2939;
            background-color: #ED2939;
            border-radius: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3>
    La teua sol·licitud d'instructor ha sigut acceptada!
</h3>
<div>
    <p>
        Inicia sessió per poder afegir els teus certificats i començar a impartir activitats.
        <br>
        Les dades per iniciar sessió son les següents:
        <br>
        <span>Usuari: <strong>carles.torrat</strong></span>
        <br>
        <span>Contrasenya: <strong>contrasenya</strong></span>
        <br>
        <span>Codi de seguretat: <strong>13GHK6N</strong></span>
        <br>
        Podràs cambiar la contrassenya al iniciar sessió en la secció d'informació personal.
    </p>

    <div class="button">
        <a href="https://www.google.es/" target="_blank">Inicia Sessió</a>
    </div>
</div>

</body>
</html>