<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .button {
            border-radius: 2px;
        }

        .button a {
            padding: 8px 12px;
            border: 1px solid #ED2939;
            background-color: #ED2939;
            border-radius: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3>
    La teua sol·licitud d'instructor ha sigut rebutjada!
</h3>
<p>Pots sol·licitat una única revisió si creus que hi ha hagut algún error.</p>

<div class="button">
    <a href="https://www.google.es/" target="_blank">SOL·LICITAR REVISIÓ</a>
</div>

</body>
</html>