<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>visualitzar activitat</title>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .helper-text {
            color: red !important;
        }

        .inputError {
            color: red;
        }
    </style>


</head>
<body>
<header th:replace="fragments/navBar.html :: navBar"></header>

<!--<div class="row">-->
<!--<form class="col s6 offset-s3" th:action="@{/activitat/show}"-->
<!--th:object="${activitat}" method="get" enctype="multipart/form-data">-->

<!--<div class="container" style="margin-top: 5%">-->

<!--<a class="carousel-item"> <img class="responsive-img" th:src="@{/imatges/{id}(id=*{imatge})}"-->
<!--&gt;</a>-->

<!--<div class="row">-->

<!--<div th:replace="fragments/pushpin-activitatInfo.html :: pushpin-activitatInfo"></div>-->
<!--<a th:href="@{/reserva/add/{nomActivitat}(nomActivitat=*{nomLlarg})}" class="btn waves-effect red col s12">-->
<!--RESERVA-->
<!--</a>-->
<!--</div>-->

<!--</div>-->


<!--</form>-->
<!--</div>-->


<section class="row" style="margin-top: 0.75rem!important">
    <div class="col s8">
        <div th:replace="fragments/photo-carousel.html :: photo-carousel"></div>
    </div>
    <div class="col m3 valign-wrapper">
        <div th:replace="fragments/pushpin-activitatInfo.html :: pushpin-activitatInfo"></div>

    </div>
</section>

<section class="row">
    <div class="col s7 offset-s1">
        <h4><strong th:text="${activitat.nomTipusActivitat}">Senderisme Moncofa</strong></h4>
        <h5>Descripció:</h5>
        <p th:text="${activitat.textPerClient}"></p>
    </div>
</section>


<script>
    var elems = document.querySelector('.carousel');
    var instance = M.Carousel.init(elems, {
        fullWidth: true,
        indicators: true
    });
</script>

<script>
    var elems = document.querySelector('.pushpin');
    var instance = M.Pushpin.init(elems, {
        offset: 125
    });
</script>

</body>

</html>
