<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nova activitat</title>
    <meta charset="UTF-8"/>
    <!--Import Google Icon Font-->
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header th:replace="fragments/navBar.html :: navBar"></header>

<div class="row">
    <form class="col s6 offset-s3" th:action="@{/activitat/update}"
          th:object="${activitat}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s5">
                <input id="idInstructor" type="text"    class="validate" th:field="*{idInstructor}" required>
                <label for="idInstructor">id instructor</label>
            </div>
            <div class="input-field col s5">
                <input readonly  id="nomLlarg" type="text" class="validate" th:field="*{nomLlarg}" required>
                <label for="nomLlarg">nomLlarg</label>
            </div>
        </div>
        <div class="row">
            <div >
                <input id="data" type="text"   class="datepicker validate" th:field="*{data}" required>
                <label for="data">Data</label>

            </div>
            <div class="input-field col s8">

                <select th:field="*{estat}" required>
                    <option value="" disabled selected >Tria una opció</option>
                    <option value="oberta" >oberta</option>
                    <option value="tancada">tancada</option>
                    <option value="completa">completa</option>
                    <option value="cancelada">cancelada</option>

                </select>
                <label>estat</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="descripcio" type="text" class="autocomplete" th:field="*{descripcio}" required>
                <label for="descripcio">Descripcio</label>
            </div>
            <div class="input-field col s6">
                <input id="preu"  placeholder="20h" class="validate" type="number"  th:field="*{preu}" />
                <label for="preu">preu</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="durada"   type="number" class="validate" th:field="*{durada}" required>

            </div>
            <div class="input-field col s6">
                <input type="file" class="form-control-file" id="exampleFormControlFile1"/>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="minAssistents" class="validate" placeholder="15" type="number"  th:field="*{minAssistents}" />
                <label for="minAssistents">Minim nombre de asistents</label>
            </div>
            <div class="input-field col s6">
                <input id="maxAssistents" class="validate" placeholder="15" type="number"  th:field="*{maxAssistents}" />
                <label for="maxAssistents">Maxim nombre de asistents</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="Lloc"type="text" th:field="*{lloc}" class="validate"  minlength="8" maxlength="20" />
                <label for="Lloc">Lloc</label>
            </div>
            <div class="input-field col s6">
                <input   id="puntDeTrobada"type="text" class="validate" th:field="*{puntDeTrobada}"   maxlength="20" />
                <label for="puntDeTrobada">puntDeTrobada</label>
            </div>
        </div>
        <div >
            <input   id="horaDeTrobada"  class="validate" type="text" th:field="*{horaDeTrobada}"   />
            <label for="horaDeTrobada">horaDeTrobada</label>
        </div>
        <div class="input-field col s6">
            <input id="textPerClient" type="text"  class="validate" placeholder="Descripció per als clients "  th:field="*{textPerClient}"  />
            <label for="textPerClient">textPerClient</label>
        </div>

        <div class="input-field col s3">
            <input id="nomTipusActivitat" type="text" placeholder="nomTipusActivitat "   th:field="*{nomTipusActivitat}"  />
            <label for="nomTipusActivitat">nomTipusActivitat</label>
        </div>

        <div class="row">

                <button class="btn waves-effect waves-light right" type="submit" name="action">Afegeix activitat
                    <i class="material-icons right">send</i>
                </button>
                    <a class="btn-floating btn-large waves-effect waves-light red " href="javascript:history.back()"><i class="material-icons">keyboard_backspace</i></a>

            </div>
        </div>

    </form>
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    const Calendar = document.querySelector('.datepicker');
    var rangeOfyears = [];
    const today = new Date();
    var startYear = today.getFullYear() - 90;
    var startDate = new Date(new String(startYear));
    M.Datepicker.init(Calendar, {
        format: 'dd/mm/yyyy',
        minDate: startDate,
        maxDate: today,
        firstDay: 1,
        yearRange: [startYear, today.getFullYear()],
        i18n: {
            months: ['Gener',
                'Febrer',
                'Març',
                'Abril',
                'Maig',
                'Juny',
                'Juliol',
                'Agost',
                'Setembre',
                'Octubre',
                'Novembre',
                'Decembre'],
            monthsShort: ['Gen',
                'Feb',
                'Mar',
                'Abr',
                'Mai',
                'Jun',
                'Jul',
                'Ago',
                'Set',
                'Oct',
                'Nov',
                'Dec'],
            weekdays: ['Diumenge',
                'Dilluns',
                'Dimarts',
                'Dimecres',
                'Dijous',
                'Divendres',
                'Dissabte'
            ],
            weekdaysShort: ['Diu',
                'Dil',
                'Dim',
                'Dim',
                'Dij',
                'Div',
                'Dis'],
            weekdaysAbbrev: ['Dg', 'Dl', 'Dt', 'Dc', 'Dj', 'Dv', 'Ds'],
            cancel: 'Cancelar'
        }
    });
</script>
<script>
    const estat = document.querySelector('select');
    M.FormSelect.init(estat, {});
</script>
<script>
    function myFunction() {
        document.getElementById("horaDeTrobada").value = "22:53:05";
    }
</script>
</body>
</html>