<!-- Modal Structure -->
<section th:fragment="loginModal">
    <form th:action="@{/login}"
          th:object="${user}" method="post">
        <div id="loginModal" class="modal">
            <div class="modal-content">
                <h4>Inicia Sessió</h4>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <input id="usuari" type="text" class="validate" th:field="*{usuari}">
                        <label for="usuari">Nom d'usuari:</label>
                        <span th:if="${#fields.hasErrors('usuari')}" th:errors="*{usuari}" class="helper-text"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <input id="contrasenya" type="password" class="validate" th:field="*{contrasenya}">
                    <label for="contrasenya">Contrasenya</label>
                        <span th:if="${#fields.hasErrors('contrasenya')}" th:errors="*{contrasenya}"
                              class="helper-text"></span>

                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light col s8 offset-s2"  type="submit" name="action">
                        Inicia sessió
                    </button>
                </div>
            </div>
        </div>
        <!--<a href="#!" class="modal-close waves-effect waves-green btn-flat">Login</a>-->
        </div>
    </form>
</section>

</body>
</html>