<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title> Login</title>
	<meta charset="UTF-8" />
	<!-- Afegim una fulla d'estil (Bootstrap) -->
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

</head>
<body>
<center>
		<h2>LOGIN</h2>
		<form action="#" th:action="@{/login}"
			  th:object="${user}" method="post">
			<p>
				<label>Nom d'usuari:</label>
				<input class="form_control" type="text" th:field="*{usuari}"/>
                <span th:if="${#fields.hasErrors('usuari')}" th:errors="*{usuari}" class="helper-text"></span>

            </p>
			<p>
				<label>password:</label>
				<input class="form_control" type="password" th:field="*{contrasenya}"/>
                <span th:if="${#fields.hasErrors('contrasenya')}" th:errors="*{contrasenya}" class="helper-text"></span>

            </p>
			<input type="submit" value="Accedir" />
		</form>
</center>
</body>
</html>