<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header th:replace="fragments/navBar :: navBar"></header>

<h3 th:text="${session.user.usuari}" th:if="${session}"></h3>

    <div class="row">
        <div class="col s3 ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Llista Activitats</span>
                    <p>Llistat de les activitats disponibles</p>
                    <div class="card-action">
                        <a href="/activitat/listInstructor" >Llistar</a>
                    </div>
                </div>
            </div>
        </div>
    <div class="col s3 ">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Les meues acreditacions</span>
                <p>Mostrar les acreditacions per a realitzar activitats </p>
                <div class="card-action">
                    <a th:href="@{/acreditacio/list/{id}(id=${session.user.usuari})}" >Llistar</a>
                </div>
            </div>
        </div>
    </div>
        <div class="col s3 ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Llista Instructors</span>
                    <p>Llistar els instructors </p>
                    <div class="card-action">
                        <a href="/instructor/acceptats" >Llistar</a>
                    </div>
                </div>
            </div>
        </div>

</div>
</body>
</html>